@charset "utf-8";

.reveal .left-justified {
  text-align: left;
}

.reveal .slides section .fragment.highlight-yellow,
.reveal .slides section .fragment.highlight-current-yellow {
  opacity: 1;
  visibility: inherit;
}

.reveal .slides section .fragment.highlight-yellow.visible {
  color: #ffc61a;
}

.reveal .slides section .fragment.highlight-current-yellow.current-fragment {
  color: #ffc61a;
}

.reveal div.asciinema {
  display: inline-block;
}

.reveal .controls.helpbutton {
  left: revert !important;
  right: 80px !important;
}

.reveal .slide-menu-button {
  left: 30px !important;
  bottom: 50px !important;
}

#customcontrols {
  bottom: 50px !important;
}

#customcontrols > ul {
  bottom: 84px !important;
}

@media only screen and (min-width: 500px) {
  #customcontrols > ul {
    bottom: 40px !important;
  }
}
